<div id="comment-box">

<div class="comment">
  <p><%= comment.comment %></p>
  <p><%= comment.user.email %></p>
  <p><%= link_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %> |
  <!-- NEED EXPLANATION ON WHY THIS IS ^^^^^^^^^^^  WORKING -->
  <!-- Grabbing the commens post AND the comment^^^^^ -->

<%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment) %>
</p>
<hr>
</div>
</div>
