<div class="comment">
  <p><%= comment.comment %></p>
  <p><%= comment.user.email %></p>
  <p><%= link_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %>
  <!-- NEED EXPLANATION ON WHY THIS IS ^^^^^^^^^^^  WORKING -->
</p>
</div>
