<div class="col-md-10">
  <div class="post">
    <% @posts.each do |post| %>
    <h3 class="post-title"><%= link_to post.title.titleize, post_path(post) %></h3>
    <p>Published <%= time_ago_in_words(post.created_at) %><strong> - Posted by <%= post.user.email %></strong></p>
    <hr>
    <% end %>

    <%= link_to "New Post", new_post_path %>
  </div>
</div>
