<div class="col-md-10 well">
  <div class="post">
    <% @posts.each do |post| %>
    <h2><%= link_to post.title.titleize, post_path(post) %></h2>
    <p>Published <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></p>
    <hr>
    <% end %>
  </div>
</div>
