<h1>this is index folder</h1>


<% @posts.each do |post| %>
 <h3><%= post.title %></h3>
  <p>Published <%= time_ago_in_words(post.created_at) %></p>
<% end %>

<%= link_to "New Post", new_post_path %>


