/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "font-awesome-sprockets";
  @import "font-awesome";

  @import "bootstrap-sprockets";
  @import "bootstrap";

body  {
  background-color: #F3F3F3;
}
.navbar-default {
  background-color: white;
  padding: 10px;
  color: black;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: .9em;
}

.post-title, a {
  font-family: 'Cambay', sans-serif;
  letter-spacing: -.07em;
  margin-bottom: 0;
  color: #0000FF;

}

strong {
  font-size: 12px;
}

hr {
  margin: 40px 0px;
}

.navbar-default .navbar-brand  {
  font-size: 25px;
  color: black;
  font-weight: 20px;
}
.nav  {
  color: black;
  font-size: 20px;
}


